@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.skeleton-loading{
  user-select: none;
  background-color: #ffffff;
  animation: skeleton-loading 3.5s ease-in-out infinite alternate; 
}
@keyframes skeleton-loading {
  0% { 
      background-color: #f0f0f0; 
      color: #f0f0f0; 
  } 
  25% { 
      background-color: #f5f4f4; 
      color: #f5f4f4; 
  } 
  50% { 
      background-color: #dfdfdf; 
      color: #dfdfdf; 
  } 
  100% { 
      background-color: #d6d6d6; 
      color: #d6d6d6; 
  } 
}
